* {
    margin: 40px;
}

body {
    background-color: rgb(0, 89, 255);
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(18, 128, 136);
}

